header .menus {
  font-weight: 600;
  margin: auto 0.5rem;
}
header .navbar-nav .nav-item .menus:hover{
    color: rgb(160, 54, 160);
    transition: 1s;
}
header .navbar-nav .dropdown .dropitems{
    position: absolute;
    display: none;
    min-width: 16rem;
  padding: 1rem;
}
header .navbar-nav .dropdown:hover .dropitems{
    background-color: white;
    box-shadow: #64646f33 0px 7px 29px 0px;;
    display: block;
    
}
header .navbar-nav .dropdown:hover .dropitems a{
    text-decoration: none;
    color: black;
    display:inline-block;
}
header .navbar-nav .dropdown:hover .dropitems a:hover{
   background-color: #80808021;
   color: purple;
   width: 100%;
}